# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Conda environments ONLY
ghost-corrector-gpu/
ghost-corrector-cpu/

# Temporary build artifacts
saved_model_temp/
*.tmp
*.bak
*.swp
*~

# IDE / OS
.vscode/
.idea/
.DS_Store

# Notebook checkpoints
.ipynb_checkpoints/

# Node build artifacts
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
